body {
    font-family:
}

h1 {
    display: inline-block;
    border-bottom: solid;
    margin-left: 780px;
}


.mac {
    background-color: yellow;
    border: 7px solid orange;
}

.brownies {
    background-color: burlywood;
    border: 7px solid brown;
}

.pate {
    background-color: sandybrown;
    border: 7px solid tan
}

.mac,
.brownies,
.pate {
    display: inline-block;
    padding: 10px;
}