body {
    font-family: sans-serif;
    background-color: rgb(224, 162, 80);
}

h1 {
    text-align: center;
    font-size: 80px;
}

.ingredients {
    font-size: 30px;
    text-decoration: underline;
}

p {
    margin-left: 15px;
}

img {
    display: block;
    margin: auto;
    border: solid 10px rgba(211, 111, 17, 0.89)
}

ul, ol {
    border: solid 7px rgba(211, 111, 17, 0.89);
    padding: 25px;
    background-color: rgb(223, 144, 91);
}

ul, ol {
    display: inline-block;
    margin-left: 15px;
    margin-top: -7px;
}


p {
    margin-bottom: 3em;
}
