body {
    font-family: sans-serif;
    background-color: rgb(255, 205, 42);
}

h1 {
    text-align: center;
    font-size: 60px;
}

p {
    margin-left: 15px;
}

img {
    display: block;
    margin: auto;
    border: solid 10px rgb(255, 153, 0);
}

ul, ol {
    border: solid 7px rgb(255, 153, 0);
    padding: 25px;
    background-color: rgb(255, 238, 0);
    color: rgb(170, 69, 29);
    font-family: Helvetica, sans-serif;
}

ul, ol {
    display: inline-block;
    margin-left: 15px;
    margin-top: -7px;
}

h3 {
    text-decoration: underline; 
}